.types-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.types-button{
    background-color: skyblue;
    padding:15px 25px;
    margin: 5px 10px;
    border: transparent;
    border-radius: 15px;
    transition:all 0.35s;
}
.types-button:hover{
    background-color: rgb(172, 85, 172);
    color: white;
}
.bottom-button{
    background-color: rgb(239, 84, 245);
    font-size: 1rem;
    padding:7px 12px;
    color: rgb(255, 255, 255);
    border:transparent;
    border-radius: 3px;
}